.titulo{
    text-align: center;
    font-size: 70px;
    margin-top: 20px;
    color: #0a1044; 
}

.calculadora{
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: #d6f5d9;
    border-radius: 10px;
    border: 3px solid #2d022d;
}

.pantalla{
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 20px;
    padding-right: 5px;
    border: 5px solid #41030f;
    border-radius: 5px;
}

.botones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.bnt, .operador{
    padding: 15px;
    font-size: 20px;
    border: 2px solid #1e1bf0;
    border-radius: 5px;
    cursor: pointer;
}
.btn{
    background-color: #59b957;
}   
.operador{
    background-color: #0b4095;
}   
.btn:hover, .operador:hover{
    background-color: #f18a0d;
}
.pantalla.resultado{
    color: #f3e7e7;
    font-weight: bold;
}